@{
    ViewBag.Title = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box">
    <div class="box-body">
        <table>
            <tr>
                <td width="100px">
                    <a href="~/Role/Create" class="btn btn-block btn-danger">Add Role</a>
                </td>
            </tr>
            <tr><td height="10px">&nbsp;</td></tr>
        </table>
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>

                    <td>@Html.Encode(item.RoleName)</td>
                    <td class="btn-group" width="89%">
                        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Edit", "Edit", new { id = item.RoleID })</li>
                        </ul>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
